@page "/ParentComponent"

<h1 class="text-danger">Parent Child Component</h1>

<CascadingValue Value="@messageForGrandChild">
    <ChildComponent OnClickBtnMethod="ShowMessage" Title="This title is passed as a parameter from the parent">
        <ChildContent>Render Fragment from Parent</ChildContent>
        <DangerChildContent>Some danger heading</DangerChildContent>
    </ChildComponent>
</CascadingValue>
<AnotherChildComponent InputAttributes="InputAttributesFromParent"></AnotherChildComponent>

<p>
    <b>
        @messageText
    </b>
</p>
@code {

    public Dictionary<string, object> InputAttributesFromParent { get; set; } = new Dictionary<string, object>()
    {
        {"required", "required" },
        {"placeholder", "This is set from the parent" },
        {"maxLength", 5 }
    };

    private string messageForGrandChild = "This is a message from Grand Parent";
    private string messageText = "";

    private void ShowMessage(MouseEventArgs e)
    {
        messageText = "Blazzing text from parent";
    }
}
